
.blogpostdefault {
    /*background-color:lightgray;*/
}

.posttitledefault {
    font-size : 20px;
}

.posttimedefault {
    font-size : 10px;
}

.postcontentdefault {
    font-size : 15px;
}

.posterdefault {
    font-size : 10px;
    float:right;
}

.commentsection {
    border: 1px dashed lightgray;
    width : 50%;
    margin:5px;
}

.commenter {
    font-size : 10px;
}

.commentcontent {
    font-size : 15px;
}